@use '@/styles/variables' as *;

.playerWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;
    position: relative;
    border-radius: $border-radius-lg;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: $font-size-2xl;
        margin: 0;
        text-align: left;
        color: $text-secondary;
        transition: color 0.3s ease, background-color 0.2s ease;
    }

    &__player {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: $border-radius-lg;
        background-color: $bg-secondary;

        svg {
            color: $accent-blue;
            width: 5em !important;
            height: 5em !important;
        }
    }

    &__error {
        color: $text-primary;
        background-color: $accent-red;
        border: 1px solid #fff;
    }
}