@use '@styles/variables' as *;

.searchFormMobile {
    position: relative;

    &__trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: $spacing-sm;
        background: none;
        border: none;
        border-radius: $border-radius-lg;
        color: $input-text-secondary;
        cursor: pointer;
        transition: all $transition-normal;

        &:hover:not(.searchFormMobile__trigger--active) {
            background-color: $bg-secondary--hover;
            color: $input-text-primary;
        }

        &:active{
            background-color: none;
        }

        &--active {         
            color: white;
        }

        @media screen and (max-width: $breakpoint-lmd) {
            display: none;
        }
    }

    &__dropdown {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all $transition-normal;
        z-index: 1000;    

        &--open {
            transform: translateY(-1%);
            opacity: 1;
            visibility: visible;
            animation: slideDown $transition-normal ease-out;
        }

        @media screen and (min-width: $breakpoint-lmd) {
            background-color: $bg-secondary;
            backdrop-filter: blur(4px);
            padding: 0 $spacing-md;
        }
    }

    &__form {
        padding: $spacing-sm;
        @media screen and (min-width: $breakpoint-lmd) {
            padding: $spacing-md 0 $spacing-sm 0;
        }
    }

    &__inputWrapper {
        display: flex;
        align-items: center;
        background: $bg-input;
        border-radius: 50px; 
        gap: $spacing-xs;      
        margin: 0 auto;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-sm;
        color: $input-text-secondary;
        flex-shrink: 0;

        svg {
            width: 24px !important;
            height: 24px !important;
        }
    }

    &__input {
        flex: 1;
        padding: $spacing-sm;
        font-family: $font-primary;
        font-size: 16px; 
        font-weight: $font-weight-medium;
        background: transparent;
        border: none;
        outline: none;
        color: $input-text-primary;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        min-width: 100px;

        &::placeholder {
            color: $input-text-secondary;
        }
    }

    &__close {
        padding: $spacing-sm;
        background-color: inherit;
        border: none;
        color: $input-text-secondary;
        cursor: pointer;
        transition: all $transition-normal;
        font-size: $font-size-base;        
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        &:hover {
            background-color: rgba($input-text-secondary, 0.1);
            color: $input-text-primary;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($bg-primary, 0.8);
        backdrop-filter: blur(4px);
        z-index: 999;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}