@use '@styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: $bg-primary;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: 1.6;
  transition: background-color $transition-normal, color $transition-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  color: $text-primary;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-base;
}

p {
  margin-bottom: $spacing-md;
  color: $text-secondary;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: all $transition-normal;

  &:hover {
    color: $primary-light;
  }
}

button {
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  border: none;
  border-radius: $border-radius-md;
  padding: $spacing-sm $spacing-md;
  cursor: pointer;
  transition: all $transition-normal;
  background-color: $primary-color;
  color: $text-primary;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: $font-size-base;
  padding: $spacing-sm $spacing-md;
  border: 1px solid transparent;
  border-radius: $border-radius-md;
  background-color: $bg-input;
  color: $input-text-primary;
  transition: all $transition-fast;

  &::placeholder {
    color: $input-text-secondary;
  }

  &:focus {
    outline: none;
  }
}

img {
  -webkit-user-drag: none;
}

:target{
  scroll-margin-top: $header-height;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $bg-secondary;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: $border-radius-lg;

  &:hover {
    background: $primary-dark;
  }
}